
section{    
    text-align: -webkit-center;
}
section.padding{
    padding-bottom:80px;

}

th{
    padding:40px 0 10px 0;
}

td{
    padding:20px 5px 10px 15px;
}

.form-question{
    background-color: aliceblue;
}



h4.types-of-cloud-computing ,h3.types-of-cloud-computing,h2.types-of-cloud-computing{
    color: rgb(16, 72, 102);
}

h1, h2, h3,h4,h5{
    Times New Roman", Times, serif;
}

p{
    color: #5f5f5f;
}
a{
    text-decoration-line: unset;
}
.white{
    color: white;
}
p.white{
    color: rgb(245, 245, 245);
}

.section_title{
    /* text-decoration: underline; */
    margin-bottom:60px;
}

span.section_title{
    font-weight: 200;
}


body, html {
    margin:0;
}

 .cover-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cover.jpg");

  /* Set a specific height */
  height: 96vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.cover-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.container{
    width:96vw;
    max-width: 1024px !important ;
    padding: 80px 0px 80px 0px;
}


.row{
    width:100%;
}
.row .col{
    display:inline-block;
}

.col{
    vertical-align: top;
}

.nav-bar{
    text-align: -webkit-center;
    background-color: white;
    height:20px;
 }



.advantage-box:hover{
    transition:0.25s;
    background:#36637b;
}


.compare-type{
    border: solid 1px grey;
    padding:10px;
}
.COMPARE-TABLE-ROW{
    transition:0.25s;
    
}

.compare-type-cate{
    min-width:90px;
    text-align:center;
}
.compare-type-light{
    background-color: #a1d8d2;
}
.compare-type-dark{
  background-color: rgb(47, 93, 146);
}

.compare-type-light:hover{
    background-color: #cce7e4;
    transition:0.25s;
}
.compare-type-dark:hover{
    background-color: rgb(75, 123, 179);
    transition:0.25s;
}

.COMPARE-TABLE-ROW td{
}



h4.Practical-use ,h3.Practical-use,h2.Practical-use{
    color: #514e8a;
}


.practical-content-box{
    padding:0px  20px;
    text-align: left;
}

.service-provider-box{
    width:300px;
    border-radius: 25px;

}
.service-provider-box:hover{
    box-shadow:#36637b 10px 10px ;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;

    transition:1s;
}









.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition:0.5s
}

/* On mouse-over */
.btn:hover { 
    box-shadow: 0px 3px 1px 0px #94a8fd;
    font-weight: 500 ;
}

.Home_page {color: green;}
.Cloud_Computing {color: dodgerblue;}
.Types_of_cloud_computing {color: orange;}
.Benfits_of_cloud_computing {color: red;}


